.meta {
  font-size: .9em;
  color: $dark-3;
}

.inner {
  padding: 0 $padding
}

.inner.alpha {
  padding-left: 0;
}

.inner.omega {
  padding-right: 0;
}

.clear {
  clear: both
}

/* WordPress classes */
.pull-left,
.alignleft {
  float: left;
}

.pull-right,
.alignright {
  float: right;
}

.aligncenter {
  display: block;
  margin: auto;
}

.wp-caption {
}

.wp-caption-text {
  font-style: italic;
  color: $dark-4;
}

/* Show only when sticky
Breaks when we have nested stickies, but we don't have them
*/
.sticky-show {
  display: none;
}

.is-sticky .sticky-show {
  display: inline-block;
}

.is-sticky #site-header-container,
.is-sticky #primary-nav-container {
  -webkit-box-shadow: 0px 1px 22px -10px rgba($dark-1, 0.75);
  -moz-box-shadow: 0px 1px 22px -10px rgba($dark-1, 0.75);
  box-shadow: 0px 1px 22px -10px rgba($dark-1, 0.75);
}

/* end */
.circle, .round {
  @include border-radius(50%)
}

.button,
.btn {
  text-align: center;
  color: $light-1;
  background: $primary;
  padding: 5px 7px;
  @include border-radius(3px);
}

.button:hover,
.btn:hover {
  color: $light-3;
}

.btn.small,
.button.small {
  padding: 3px 4px;
  font-size: .75em
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.screen-reader-text {
  display: none
}