//* Smaller desktops */
@media only screen and (max-width: 1200px) {
  #wrapper {
    width: 100%;
  }
}

//Tablets
@media only screen and (max-width: $mobile_width) {
  .hybrid {
    width: 100%;
  }

  .site-title {
    font-size: 8vw;
    line-height: 1.5em;
  }

  #wrapper {
    #left,
    #main,
    #sb-woo,
    #sb1,
    #sb2,
    #site-footer-container .fc,
    .hybrid {
      width: 100%;
      box-sizing: border-box;
      float: none;
    }

    #sb1 {
      background: $light-2;
    }

    #sb2 {
      background: $light-3;
    }
    @if ($separate_containers == 1) {
      #sb1 > .inner,
      #sb1 > .inner {
        padding: 0;
      }
    }

    .widget {
      //width: 300px;
      margin: 0 auto $vr;
    }

    #site-header {
      float: none;
      margin-right: 32px;
    }
  }

  #copyright-container {
    .hybrid {
      width: 100%;
      box-sizing: border-box;
    }
  }

  //Hide menus
  #header-nav-container,
  #mobile-search-form,
  #primary-nav-container,
  #secondary-nav-container {
    display: none;
  }

  .post-thumbnail {
    .stretched {
      float: none !important;
    }
  }
}
@media only screen and (min-width: $mobile_portrait_width) and (max-width: $mobile_width) {
  body .sb-container {
    width: 100% !important;
    margin: auto;
  }
}
