//@import "variables";

#wrapper,
.hybrid {
  width: $site_width;
  margin: auto;
  max-width: 100%;
}
.inner.hybrid{box-sizing: border-box}
.hybrid {
  width: $site-width - 2*$padding
}

html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
}

body {
  height: 100%; /* force the BODY element to match the height of the HTML element */
}

#main > .inner {
  padding-top: $padding;
  padding-bottom: $padding
}

/* centered layout */
.layout-centered {
  #left {
    float: left;
    width: 75%;
    width: ($main_width+$left_sidebar_width)+0%;
  }
  #main {
    float: right;
    width: 75%;
    width: $main_width/($main_width+$left_sidebar_width)*100%;
  }
  #sb1 {
    float: left;
    width: 25%;
    width: $left_sidebar_width/($main_width+$left_sidebar_width)*100%;

  }
  #sb2 {
    float: left;
    width: 25%;
    width: 100%  - ($main_width+$left_sidebar_width);

  }
}

/* Left sidebar */
.layout-l-sb {
  #sb2 {
    float: left;
    display: none;
  }
  #left {
    width: 100%
  }
  #main {
    float: right;
    overflow: hidden;
    width: $main_width+0%;
  }
  #sb1 {
    float: left;
    width: 100%-$main_width;
  }
}

/* Right sidebar */
.layout-r-sb {
  #left {
    float: left;
    width: 100%
  }
  #main {
    float: left;
    width: $main_width+0%;
  }
  #sb1 {
    float: right;
    width: 100%-$main_width;
  }
  #sb2 {
    float: left;
    display: none
  }
}

#sb1, #sb2 {
}

#sb1 > .inner,
#sb2 > .inner {
  //height: 100%;
  padding-top: $padding;
  padding-bottom: $padding;
}

#ns1,
#ns2 {
  width: 50%;
  float: left;
}

/* for multiple colors */
#ns1, #ns2 {
  padding: 20px 10px;
}

#ns1 {
  //background: rgba(0, 255, 255, .5);
  margin: -20px 0 -20px -20px
}

#ns2 {
  //background: rgba(255, 255, 0, .5);
  margin: -20px -20px -20px 0
}

.layout-centered {
  #sb1 {
    //background: rgba(0, 255, 255, .5);
    background: $light-2 !important;
  }
  #sb2 {
    //background: rgba(255, 255, 0, .5);
    background: $light-3 !important;

  }
}

//end

#site-footer-container {
  padding: $padding 0;
}

#site-footer-container {
  .fc {
    width: 100%/$footer-columns;
    float: left
  }
}

/* delete later */
body {
  background: $dark-1
}

#wrapper {
  background: rgba($light-1, 1)
}

#content {
  background: $light-1
}

#main {
  background: $light-1
}

#site-header-container {
  border-bottom: solid 1px $light-4
}

.layout-r-sb {

  #sb1 > .inner {
    border-left: solid 1px $light-4
  }
}

.layout-l-sb {
  #sb1 > .inner {
    border-right: solid 1px $light-4
  }
}

.layout-centered {
  #sb1 > .inner {
    border-right: solid 1px $light-4
  }
  #sb2 > .inner {
    border-left: solid 1px $light-4
  }
}

#site-footer-container {

  background: $dark-2;
  color: $light-3
}

#site-footer-container {
  a {
    color: $light-2
  }
  a:hover {
    color: $primary
  }
}
