@media only screen and (min-width: 768px) {
  .nav-container {
    border-bottom: solid 1px $border-color;
  }

  .is-sticky .has-sticky-logo.nav-container #primary-nav {
    margin-left: 44px;
  }
  .nav {
    float: left;
    ul {
      margin: 0;
      padding: 0
    }
    ul li {
      display: inline;
      margin: 0;
      float: left
    }
    a {
      color: $primary-nav-color;
      padding: .25em .5em;
      display: block;
      text-decoration: none;
    }
    li:hover,
    a:hover,
    li:hover ul {
      background: shift-color($primary-nav-bg);
      color: $primary-nav-color;
    }

    li ul li:hover,
    li ul a:hover {
      background: shift-color($primary-nav-bg, .05);
    }

    ul li li {
      display: block;
      width: 100%
    }
    ul ul {
      display: none;
      width: 180px
    }
    //* first level */
    ul li {
      position: relative;
      z-index: 2;
    }
    ul li:hover > ul {
      display: inline;
      position: absolute;
      top: 2.125em; //2.15em
      left: 0;
      background: shift-color($primary-nav-bg)
    }
    ul li:hover ul ul {
      display: none
    }

    //* second level */
    ul ul li:hover > ul {
      display: block;
      position: absolute;
      left: 180px;
      top: 0;
    }
    ul li:hover ul li:hover ul li a {
      display: block
    }
    ul ul ul ul {
      display: none
    }

    //* third level */

    //* Icons */
    .menu-item-has-children > a:after {
      content: '\BB';
      opacity: .5;
      margin-left: 5px;
      display: inline-block;
    }

    .menu > .menu-item-has-children > a:after {
      @include rotate(90deg)
    }
  }
}

#primary-nav-container {
  background: $primary-nav-bg;
}

#secondary-nav-container {
  background: $secondary-nav-bg;
}

#secondary {

  border-bottom: none;
  .nav {
    ul li {
      position: relative;
      z-index: 4;
    }
    a {
      color: $secondary-nav-color;
    }
    a:hover {
      color: $primary;
      background: shift-color($secondary-nav-bg)
    }

    li:hover,
    a:hover,
    li:hover ul {
      background: shift-color($secondary-nav-bg);
    }

  }
}

#nav-search {
  float: right;
  display: inline;
  position: relative;
  background: $primary-nav-bg;
}

#nav-search .he-search {
  line-height: 1.4167em;
  padding: 0 10px;
  font-size: 1.5em;
  border: solid 1px shift-color($primary-nav-bg, .15);
  border-width: 0 1px;
}

#nav-search form {
  display: none;
  top: 2.125em;
  right: 0;
  position: absolute;
  padding: 10px;
  background: $primary-nav-bg;
  border: solid 1px shift-color($primary-nav-bg, .15);
  border-width: 0 1px 1px;
}

#nav-search input {
  line-height: 1.6em;
  height: 1.5em;
  width: 13em;
  font-size: 1.2em;
}

#nav-search:hover form {
  display: block;

}

@if ($is_sleek_header == 1) {

  #site-header-container {
    padding: 0;
  }
  .site-title,
  #nav-search .he-search {
    line-height: $header-height;
  }
  #primary {
    .nav .menu > li > a {
      line-height: $header-height;
      padding-top: 0;
      padding-bottom: 0
    }
    .nav .menu > li:hover > ul {
      top: $header-height;
    }
  }

  #nav-search form {
    top: $header-height;
  }
}

#menu {
  display: none
}

#side-pane {
  width: 0;
  display: none
}

.rtl {
  .nav {
    float: right
  }
  ul li {
    float: right
  }

  //* Icons */
  .menu-item-has-children > a:after {
    content: '\BB';
    opacity: .5;
    margin-left: 5px;
    display: none;
  }
  .menu-item-has-children > a:before {
    content: '\2192';
    opacity: .5;
    margin-right: 5px;
    float: left;
    display: inline-block;
  }

  .menu > .menu-item-has-children > a:before {
    @include rotate(90deg)
  }
}