.page-template-tpl-full-width,
.page-template-tpl-wide,
.page-template-tpl-airy,
.page-template-tpl-landing,
.attachment-image {
  #left,
  #main {
    width: 100%;
    margin: auto
  }
}

.page-template-tpl-landing.elementor-page,
.page-template-tpl-wide.elementor-page,
.page-template-tpl-full-width.elementor-page {
  #main > .inner {
    padding: 0
  }
  .entry.main {
    margin-bottom: 0
  }
}

.page-template-tpl-airy #main {
  width: 70%;
  float: none;
}

///* Right sidebar */
.page-template-tpl-woo-rsb #left,
.page-template-tpl-rsb #left {
  width: 100%;
}

.page-template-tpl-woo-rsb #main,
.page-template-tpl-rsb #main {
  width: 75%;
  float: left;
}

#sb-page-rsb {
  width: 25%;
  float: right;
}

///* Left sidebar */
.page-template-tpl-woo-lsb #left,
.page-template-tpl-lsb #left,
.woocommerce #left{
  width: 100%;
}

.page-template-tpl-woo-lsb #main,
.page-template-tpl-lsb #main {
  width: 75%;
  float: right;
}

#sb-page-lsb {
  width: 25%;
  float: left;
}

///* Wide */
.page-template-tpl-wide #content {
  width: 100%
}

@if $woocommerce_layout == 'r-sb'{

  .woocommerce #main {
    width: 75%;
    float: left
  }
} @else{

  .woocommerce #main {
    width: 75%;
    float: right
  }
  #sb-woo {
    width: 25%;
    float: left
  }
}

#sb-woo {
  width: 25%;
  float: left
}