.page-template-tpl-full-width,
.page-template-tpl-wide,
.attachment-image{
  #left,
  #main{width:100%}
}

/* Right sidebar */
.page-template-tpl-rsb #left {
  width: 100%;
}
.page-template-tpl-rsb #main {
  width: 75%;
  float: left;
}
#sb-page-rsb {
  width: 25%;
  float: right;
}

/* Right sidebar */
.page-template-tpl-lsb #left {
  width: 100%;
}
.page-template-tpl-lsb #main {
  width: 75%;
  float: right;
}
#sb-page-lsb {
  width: 25%;
  float: left;
}


/* Wide */
.page-template-tpl-wide #content{width:100%}