@if $transparent_backgrounds == 1 {
  body {
    background: $light-1;
  }
  #wrapper,
  #content,
  #content-wrapper,
  #main,
  #wrapper #sb1,
  #wrapper #sb2,
  #site-footer-container,
  #copyright-container {
    background: transparent
  }

  @if $is_sleek_header ==0 {
    #site-header-container {
      background: transparent
    }
  }
}

#wrapper,
#content,
#content-wrapper,
#main,
#wrapper #sb1,
#wrapper #sb2,
#site-footer-container,
#copyright-container {
  background-attachment: fixed;
}