.breadcrumbs {
  margin-bottom: $vr;
  min-height: 1em;
  .icon{float: left;margin-right: 10px}
  ul li{display: inline;float: left;list-style: none;margin: 0}

  .trail-items li::after {
    content: "/";
    padding: 0 0.35em;
    color: $light-4;
  }
  .trail-items li:last-of-type::after {
    display: none;
  }
}

