/* For page builder */
.center {
  margin: auto;
  text-align: center;
  //display: inline-block;
  ul, ol {
    list-style-position: inside;

  }
}

.block {
  display: block;
}

.full {
  width: 100%;
}

.pull-all {
  margin: -$padding;
  padding: $padding
}

.pull-l, .pull-left {
  margin-left: -$padding;
  padding-left: $padding;
}

.pull-r, .pull-right {
  margin-right: -$padding;
  padding-right: $padding;
}

.pull-t, .pull-top {
  margin-top: -$padding;
  padding-top: $padding;
}

.pull-b, .pull-bottom {
  margin-bottom: -$padding;
  padding-bottom: $padding;
}

.pull-rl {
  padding-left: $padding;
  padding-right: $padding;
  margin-right: -$padding;
  margin-left: -$padding;
}

.pull-trl {
  padding-top: $padding;
  padding-left: $padding;
  padding-right: $padding;
  margin-top: -$padding;
  margin-right: -$padding;
  margin-left: -$padding;
}

.no-padding {
  padding: 0
}

.pad, .padding,
.pad-all, .padding-all {
  padding: $padding;
}

.pad-l, .pad-left {
  padding-left: $padding;
}

.pad-r, .pad-right {
  padding-right: $padding;
}

.pad-t, .pad-top {
  padding-top: $padding;
}

.pad-b, .pad-bottom {
  padding-bottom: $padding;
}

.pad-rl {
  padding-left: $padding;
  padding-right: $padding;

}

.pad-trl {
  padding-top: $padding;
  padding-left: $padding;
  padding-right: $padding;
}

.pad2x-all, .padding-all {
  padding: $padding*2;
}

.pad2x-l, .pad2x-left {
  padding-left: $padding*2;
}

.pad2x-r, .pad2x-right {
  padding-right: $padding*2;
}

.pad2x-t, .pad2x-top {
  padding-top: $padding*2;
}

.pad2x-b, .pad2x-bottom {
  padding-bottom: $padding*2;
}

.pad2x-rl {
  padding-left: $padding*2;
  padding-right: $padding*2;

}

.pad2x-trl {
  padding-top: $padding*2;
  padding-left: $padding*2;
  padding-right: $padding*2;
}

.hero {
  h1 {
    font-size: 40px
  }
}

.title {
  font-size: 40px
}

.sub-title {
  font-size: 24px;
}

.center {
  text-align: center;
}

.sub-title {
  font-weight: $body-font-weight
}

.section-title {
  margin-bottom: 0;
}

.lead {
  font-size: 1.2em
}

.panel-row-style,
.panel-grid-cell {
  position: relative;
}

.v-center {
  //position: absolute;
  top: 45%;
  width: 100%;
}

.image-bg {
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}

@media only screen and (max-width: 800px) {
  .hero {
    h1 {
      font-size: 6vw
    }
  }
  .title {
    font-size: 6vw
  }
  .sub-title {
    font-size: 3.5vw
  }

  .pull-all {
    margin: -$padding -20px;
    padding:$padding 20px
  }

  .pull-l {
    margin-left: -20px;
    padding-left: 20px;
  }

  .pull-r {
    margin-right: -20px;
    padding-right: 20px;
  }

  .pull-t, .pull-top {
    margin-top: -$padding;
    padding-top: $padding;
  }

  .pull-b, .pull-bottom {
    margin-bottom: -20px;
    padding-bottom: 20px;
  }

  .pull-rl {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }
  .pull-trl {
    padding-top:-$padding;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -$padding;
    margin-right: -20px;
    margin-left: -20px;
  }

  .no-padding {
    padding: 0
  }

  .pad, .padding,
  .pad2x-all, .padding-all {
    padding: 20px;
  }

  .pad-l, .pad-left,
  .pad2x-l, .pad2x-left {
    padding-left: 20px;
  }

  .pad-r, .pad-right,
  .pad2x-r, .pad2x-right {
    padding-right: 20px;
  }

  .pad-t, .pad-top,
  .pad2x-t, .pad2x-top {
    padding-top: 20px;
  }

  .pad-b, .pad-bottom,
  .pad2x-b, .pad2x-bottom {
    padding-bottom: 20px;
  }

  .pad-rl,
  .pad2x-rl {
    padding-left: 20px;
    padding-right: 20px;

  }

  .pad-trl,
  .pad2x-trl {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
