.he-btn {
  padding: 4px 10px;
  color: #FFF!important;
  background: $primary;
@include border-radius(3px);
  text-decoration: none!important;
  //margin-left: 10px;
  //margin-right: 10px;
}

.he-btn:hover {
@include subtle-shadow();
}

/* Sizes */
.he-btn.small {
  padding: 0 6px;
  font-size: .8em;
}

.he-btn.lg,
.he-btn.large {
  padding: 8px 12px;
  font-size: 1.25em;
}

.he-btn.xlg,
.he-btn.x-large,
.he-btn.extra-large {
  padding: 16px 20px;
  font-size: 2em;
}

.he-btn.sharp{
  @include border-radius(0);
}
.he-btn.round{
  @include border-radius(.25em);
}

.he-btn.very-round{
  @include border-radius(.5em);
}
.he-btn.fully-round{
  @include border-radius(1em);
}
/* Colors */
.he-btn.red{
  @include gradient(#ff5e3a, #ff2a68, linear)
}
.he-btn.orange{
  @include gradient(#ff9500, #ff5e3a, linear)
}
.he-btn.yellow{
  @include gradient(#ffdb4c, #ffcd02, linear)
}
.he-btn.green{
  @include gradient(#87fc70, #0bd318, linear)
}
.he-btn.teal{
  @include gradient(#52edc7, #5ac8fb, linear)
}
.he-btn.blue{
  @include gradient(#0e74ff, #1d62f0, linear)
}
.he-btn.black{
  @include gradient(#4a4a4a, #2b2b2b, linear)
}
.he-btn.silver{
  @include gradient(#dbddde, #898c90, linear)
}
.he-btn.purple{
  @include gradient(#d56efd, #842abf, linear)
}
.he-btn.pink{
  @include gradient(#fc5fa6, #fc2a19, linear)
}

