//Colors
$primary: #007AFF;
$white: #FFF;
$black: #000;

$alpha: .9;
$shades-from: $primary;
$saturation: 8;

$hue: hue($shades-from);

$invert: 0;
// Don't remove the below line.
// It's used for overriding the variables.

/**colors**/

/* Generated colors */

$light-1: hsla($hue, $saturation, 97, $alpha);
$light-2: hsla($hue, $saturation, 94, $alpha);
$light-3: hsla($hue, $saturation, 91, $alpha);
$light-4: hsla($hue, $saturation, 88, $alpha);
$light-5: hsla($hue, $saturation, 85, $alpha);
$light-6: hsla($hue, $saturation, 80, $alpha);

$dark-1: hsla($hue, $saturation, 04, $alpha);
$dark-2: hsla($hue, $saturation, 08, $alpha);
$dark-3: hsla($hue, $saturation, 12, $alpha);
$dark-4: hsla($hue, $saturation, 16, $alpha);
$dark-5: hsla($hue, $saturation, 20, $alpha);
$dark-6: hsla($hue, $saturation, 24, $alpha);

@if ($invert == 1) {

  $dark-1: hsla($hue, $saturation, 97, $alpha);
  $dark-2: hsla($hue, $saturation, 94, $alpha);
  $dark-3: hsla($hue, $saturation, 91, $alpha);
  $dark-4: hsla($hue, $saturation, 88, $alpha);
  $dark-5: hsla($hue, $saturation, 85, $alpha);
  $dark-6: hsla($hue, $saturation, 80, $alpha);

  $light-6: hsla($hue, $saturation, 04, $alpha);
  $light-5: hsla($hue, $saturation, 08, $alpha);
  $light-4: hsla($hue, $saturation, 12, $alpha);
  $light-3: hsla($hue, $saturation, 16, $alpha);
  $light-2: hsla($hue, $saturation, 20, $alpha);
  $light-1: hsla($hue, $saturation, 24, $alpha);

}

$border-color: rgba($dark-6, .1);
$border-color-light: rgba($dark-6, .1);
$border-color-dark: rgba($dark-4, .1);