//Colors
$primary: #007AFF;
$secondary: green;
$teritiary: blue;

// These are the dark gray colors we use
// darkness decreases as the number increases












$dark-1: #000 !default;
$dark-2: #182026 !default;
$dark-3: #202b33 !default;
$dark-4: #293742 !default;
$dark-5: #30404d !default;
$dark-6: #394b59 !default;
$dark-7: #5c7080 !default;
$dark-8: #738694 !default;
$dark-9: #8a9ba8 !default;

// These are the light grays we use
// Whiteness decreases as the number increases

$light-9: #8a9ba8 !default;
$light-8: #a7b6c2 !default;
$light-7: #bfccd6 !default;
$light-6: #ced9e0 !default;
$light-5: #d8e1e8 !default;
$light-4: #e1e8ed !default;
$light-3: #ebf1f5 !default;
$light-2: #f5f8fa !default;
$light-1: #ffffff !default;



$dark-1: #14141A;
$dark-2: #3D3D45;
$dark-3: #63636A;
$dark-4: #84848C;

$light-1: #FFF;
$light-2: #F2F1F6;
$light-3: #ECECF1;
$light-4: #e4e4eb;
$light-5: #CFCFD8;