address,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0 0 $vr/2;
}

address,
hr,
p,
pre,
table {
  margin-bottom: $vr;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

ul li {
  list-style: disc;
  margin-left: 1.25em;
}

ul li li {
  list-style: circle;
}

ol li {
  list-style: decimal;
  margin-left: 1.25em;
}

code,
pre {
  overflow: auto;
}

figure,
img,
pre {
  max-width: 100%;
}

img:not(.imageNotLoaded):not(.srsImgNotLoaded) {
  // height: auto;
}
// Removing height auto to fix lazyloading.

pre {
  overflow: scroll;
}

article {
  margin-bottom: $vr/2;
}
