#copyright-container {
  font-family: $headings-font-stack;
  font-size: .8em;
  font-weight: 300;
  color: $light-2;
  a {
    color: $light-1
  }
  .inner {
    padding: .5*$padding $padding;
    text-align: center
  }
}