#footer-links {
  text-align: center;
  margin: 0;
}

#footer-links li {
  display: inline-block;
  list-style: none;
}

#footer-links li a {
  padding: 5px 6px;
}

#copyright-container {
  background: $copyright-bg;
  font-family: $headings-font-stack;
  font-size: .8em;
  font-weight: 300;
  color: $copyright-color;
  a {
    color: $copyright-link-color;
    text-decoration: none;
  }
  a:hover {
    color: $primary;
  }
  .inner {
    padding: .5*$padding $padding;
    text-align: center
  }
}

.rtl #site-footer-container .fc {
  float: right
}

@if $fc1-width{
  .fc-1{width:$fc1-width*1%;}
}
@if $fc2-width{
  .fc-2{width:$fc2-width*1%}
}
@if $fc3-width{
  .fc-3{width:$fc3-width*1%}
}
@if $fc4-width{
  .fc-4{width:$fc4-width*1%}
}
@if $fc5-width{
  .fc-5{width:$fc5-width*1%}
}
@if $fc6-width{
  .fc-6{width:$fc6-width*1%}
}
@if $fc1-width{
  .fc-7{width:$fc1-width*1%}
}
@if $fc8-width{
  .fc-8{width:$fc8-width*1%}
}