@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.imageNotLoaded {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 25%;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHRpdGxlPmxvYWRlci00PC90aXRsZT48cGF0aCBkPSJNMTYsMEExNiwxNiwwLDAsMCwwLDE1LjYyQy4xOSw4LjA3LDUuOTQsMiwxMywyUzI2LDguMjcsMjYsMTZhMywzLDAsMCwwLDYsMEExNiwxNiwwLDAsMCwxNiwwWm0wLDMyQTE2LDE2LDAsMCwwLDMyLDE2LjM4QzMxLjgxLDIzLjkzLDI2LjA2LDMwLDE5LDMwUzYsMjMuNzMsNiwxNmEzLDMsMCwwLDAtNiwwQTE2LDE2LDAsMCwwLDE2LDMyWiIgc3R5bGU9ImZpbGw6I2E5YTlhYSIvPjwvc3ZnPg==");
}
