.separator,
.entry-meta hr {
  border: 0 !important;
  height: 1px;
  background-image: -webkit-linear-gradient(left, $light-3, $light-5, $light-3);
  background-image: -moz-linear-gradient(left, $light-3, $light-5, $light-3);
  background-image: -ms-linear-gradient(left, $light-3, $light-5, $light-3);
  background-image: -o-linear-gradient(left, $light-3, $light-5, $light-3);
}

.entry-meta {
  font-size: .85em;
  opacity: .7;
}

.entry-meta.above-title {
  margin-bottom: $vr/2;
}

.entry-meta.below-title {
  margin-top: -$vr/2;
  margin-bottom: $vr;
}

.entry-footer {
  background: $light-1;
  padding: .125*$padding 0;
  border: solid 1px $light-2;
  border-width: 1px 0;
  margin: $vr (-$padding);
}