.separator,
.entry-meta hr,
hr {
  border: 0 !important;
  height: 1px;
  background-image: -webkit-linear-gradient(left, $light-3, $light-5, $light-3);
  background-image: -moz-linear-gradient(left, $light-3, $light-5, $light-3);
  background-image: -ms-linear-gradient(left, $light-3, $light-5, $light-3);
  background-image: -o-linear-gradient(left, $light-3, $light-5, $light-3);
}

.entry-meta {
  font-size: .9em;
  color: $dark-6;
}

.entry-meta a {
  color: $dark-3
}

.entry-meta.above-title {
  margin-bottom: 0;
}

.entry-meta.below-title {
  margin-top: 0;
  margin-bottom: $vr/2;
}

.singular .entry-meta.below-title {
  margin-bottom: $vr;
}

.entry-footer {
  background: $light-1;
  padding: .125*$padding 0;
  border: solid 1px $border-color;
  border-width: 1px 0;
  margin: $vr (-$padding);
}

.meta .tags {
  display: inline
}

.meta .tags a {
  font-size: .8em;
  background: $primary;
  color: $light-1;
  padding: 1px 4px;
  font-weight: bold;
  text-decoration: none;
  @include border-radius(2px)
}

.meta .tags a:hover {
  text-shadow: 0 1px 0 rgba($dark-1, 0.4);

}

@media only screen and (max-width: 1200px) {
  .entry-footer {
    margin: $vr (-($padding)/2);
  }
}