.page-template-full-width,
.page-template-wide,
.attachment-image{
  #left,
  #main{width:100%}
}

/* Right sidebar */
.page-template-rsb #left {
  width: 100%;
}
.page-template-rsb #main {
  width: 75%;
  float: left;
}
#sb-page-rsb {
  width: 25%;
  float: right;
}


/* Wide */
.page-template-wide #content{width:100%}