.singular-post.single-1c.has-thumb {
  #main,
  #left {
    margin: auto !important;
    display: block;
    float: none !important;
    width: 100%;
  }

  #content {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
  }
  #left, #sticky-sb1-sticky-wrapper, #sticky-sb1 {
    background: none
  }
  .breadcrumb-trail {
    display: none
  }

  #main {
    background: transparent !important;
  }
  .entry {
    width: 60%;
    margin: auto;
    margin-top: 180px;
    background: rgba($light-1, 1) !important;
    @include border-radius(1em);
    padding: $padding;
  }

  #comments{    background: rgba($light-1, 1) !important;
    margin-top: -1em;
    margin-left:-$padding;
    margin-right:-$padding;
    padding: $padding;
  }
}

@media only screen and (max-width: 800px) {
  .singular-post.single-1c.has-thumb {
    #content {
      background-size: auto 50vh;
    }
    .entry {padding:10px;    margin-top: 25vh;
    }
  }
}