#articles article{box-sizing: border-box}
.entry-title {
  margin: $vr/2 0;
}

.entry-title a:hover {
  color: $primary;
  text-decoration: none;
}

.entry-content {
  ul, ol {
    margin-left: 1em;
  }
  a {
    color: $primary
  }
  img{margin-bottom: $vr/2}

  .wp-caption {
    margin-bottom: $vr;
    background: $light-3;
  }
  .wp-caption img{margin-bottom: 0}
  .wp-caption-text {
    padding: 0 10px 5px 10px;
  }
}

.rtl .entry-content {
  ul, ol {
    margin-left: 0;
    margin-right: 1em;
  }

}

