.is-sticky #sticky-search {
  position: relative;
  padding: 5px 0;
  border-bottom: solid 1px rgba($light-4, 0.9);
  border-width: 1px 0;
  background: rgba($light-1, 0.9);

  .mobile-nav-search-form {
    margin: 0 30px;
  }

  .sticky-logo img {
    left: 10px;
  }
}

#sticky-search > .inner {
  display: none;
}

.is-sticky #sticky-search > .inner {
  display: block;
}

.open-drawer {
  color: choose-contrast-color($header-bg);
  float: right;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;

  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.is-sticky .open-drawer {
  color: $dark-1;
}

#side-pane {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.2s ease-in;
  -moz-transition: height 0.2s ease-in;
  -o-transition: height 0.2s ease-in;
  -ms-transition: height 0.2s ease-in;
  transition: height 0.2s ease-in;
}

body {
  left: 0;
}

.menu-open {
  position: relative;

  #side-pane {
    display: block;
    width: 100vw;
    position: fixed;
    right: 0;
    left: 0;
    background: rgba($dark-1, 0.95);
    top: 0;
    height: 100vh;
    overflow: scroll;
    z-index: 999;
  }

  #side-pane-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: auto;
  }

  #menu-close {
    font-weight: lighter;
    position: fixed;
    bottom: -60px;
    background: $light-1;
    padding: 10px;
    left: 0;
    right: 0;
    width: 100px;
    margin: auto;
    text-align: center;
    height: 100px;
    border-radius: 110px;
    text-transform: uppercase;
    font-size: 12px;
  }

  #menu-close span {
    font-size: 20px;
    display: block;
  }
}

#mobile-search-form {
  display: block;
}

#side-pane-inner #mobile-search-form {
  padding: 20px;
  background: rgba($primary, 0.8);
}

#site-header-container {
  position: relative;
}
