#menu_ {
  background: $primary;
  color: $light-1;
  border-radius: 3px;
  float: right;
  border: none;
  display: none;

  position: absolute;
  top:0;
  bottom:0;
  right: -20px;
  height: 32px;
  margin: auto;
  padding:5px 8px;
  line-height: 16px;

  //@include vertical-align();

}
#menu {
  color: $light-1;
  float: right;
  border: none;
  display: none;

  position: absolute;
  top:0;
  bottom:0;
  right: -30px;
  height: 32px;
  margin: auto;

  //@include vertical-align();

}

#menu svg{
  fill:$primary;
}

body,
#side-pane{
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body{left: 0}
#side-pane{width: 0;}
.menu-open {
  position: relative;
  left: -75vw;


  #side-pane {
    display: block;
    width: 75vw;
    position: fixed;
    right: 0;
    background: $light-4;
    top: 0;
    min-height: 100vh;
    overflow: scroll;

  }

  #side-pane-inner{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    top:0;
    overflow: auto;
  }
}

#site-header{
  position: relative;
}