$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

// Layout
$site_width: 1360px;
$main_width: 72;
$left_sidebar_width: 18.75;
$padding: 40px;
$container_type: 'regular';
$sb_widget_cards: 0; //Not default !!
$social_media_monochrome:0;
$woocommerce_layout:'r-sb';
$vr: 26px; //vertical rhythm
$footer-columns: 4;

$fc1-width:25%;
$fc2-width:25%;
$fc3-width:25%;
$fc4-width:25%;
$fc5-width:auto;
$fc6-width:auto;
$fc7-width:auto;
$fc8-width:auto;


$is_sleek_header: 0;
$header_height: 64px;
$transparent_backgrounds: 0;

$tablet_landscape: 1024px;
$mobile_width:768px;
$mobile_portrait_width:480px;

// Typography
$body-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$base-font-size: 17px;
$base-line-height: 1.6em;
$headings-font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headings-font-stack: 'Open Sans', sans-serif;
$headings-font-weight: bold;

$vr: $base-font-size*($base-line-height/1em);


// For css optimization
$layout: 'centered';
$logo-position: 'left';
// Don't remove the below line.
// It's used for overriding the variables.
///** Moment of truth **/

/**variables**/