.he-search-wrapper {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.he-search-wrapper {
  label {
    display: none
  }
  button {
    float: right;
    display: block;
    position: relative;
    left: -6px;
    padding: 5px 8px 4px;

  }

  .input {
    overflow: hidden;
    display: block;
    float: none
  }
}

.ltr {
  .he-search-wrapper {
    button {
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.rtl {
  .he-search-wrapper {

    button {
      float: left;
      left: auto;
      left: 6px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}
//@todo move to better place
.nav-links {
  font-size: .75em;
  margin-bottom: $vr;
  height: $vr+4px;


  .nav-previous,
  .nav-next{
    max-width: 45%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include border-radius(3px);


  }
  .nav-previous > a,
  .nav-next > a {
    background: rgba($light-2,.8);

    padding: 5px;
    .nav-subtitle{
      background: $light-3;
      position: relative;
      top:-1px;
      height: $vr+4px;
    }
  }
  .nav-previous {

    float: left;
    .nav-subtitle {
      margin: -6px 0 -4px -5px;
      padding:5px;
    }
  }
  .nav-next {
    float: right;
    .nav-subtitle {
      margin: -3px -5px -3px 5px;
      padding:5px;
    }
  }
}

.gallery-full{margin-bottom: $vr}