.he-nag {
	position: relative;
	box-sizing: border-box;
	background: #FFF;
	padding: 5px;

	margin-top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;

	position: relative
}

.he-nag.warning {
	padding-left: 54px
}

.he-nag.warning:before {
	font-family: Dashicons;
	content: "\f534";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	font-size: 32px;
	padding: 0 5px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: orangered;
	color: #FFF;
}

.he-nag .candy {
	background: red;
	color: #FFF;
	padding: 3px 5px;
	border-radius: 3px;
}

.he-nag .he-btn {
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 12px;
	display: inline-block;
	margin: 8px 0;
	text-transform: uppercase;
	background: red;
	font-weight: bold;
	font-size: .9em;
	letter-spacing: 1px;
}

.he-nag .he-btn:hover {
	background: -webkit-linear-gradient(to top, #2948FF, #396AFC); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #2948FF, #396AFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.he-nag em {
	font-family: serif;
	color: #999;
	font-size: 12px;
}

.he-nag .close:before {
	content: "\f335";
	font-family: Dashicons;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 20px;
	cursor: pointer;
}
