.customize-control-radio-image input {
  display: none
}

.customize-control-radio-image label {
  float: left
}

.customize-control-radio-image img {
  width: 80px;
  margin-right: 6px
}

#sub-accordion-section-nybr_post_page_settings textarea {
  height: 4em
}

/* Image dimensions control */
.thumb-dimensions {
  float: left;
  position: relative;
  width: 40%
}

.thumb-dimensions input[type='number'] {
  width: 50% !important;
}

.thumb-dimensions input[type='number'] {
  border-right: none
}

.thumb-dimensions span {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 12px;
  height: 12px;
  line-height: 10px;
  border: solid 1px #DDD;
  background: #FFF;
  color: #CCC;
  text-align: center;
  border-radius: 50%;
}

.thumb-align {
  float: left;
  width: 55%;
  margin-left: 5%
}

.thumb-align select {
  width: 100%
}

/* Responsive control */
.responsive-content .textarea {
  position: relative;
  margin: 10px 0 0;
}

.responsive-content .textarea:before {
  font-family: dashicons;
  color:#AAA;
  padding:1px;
  opacity: .8;
  position: absolute;
  border: solid 1px #CCC;
  right: 0;
  top: 0;

  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}

.responsive-content .desktop:before{
  content:'\f472 \f471'
}
.responsive-content .mobile:before{
  content:'\f470'
}
.responsive-content textarea {
  width: 100% !important;
  height: 100px
}

/* SCSS */
#customize-control-scss_override textarea {
  display: block;
  font-family: Consolas, Monaco, monospace;
  font-size: 12px;
  padding: 6px 8px;
  height: 500px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  line-height:1.4
}